<form method="post" action="{{ path('category.delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
