{% extends 'base.html.twig' %}

{% block title %}Editer la catégorie{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Editer une catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {# <a href="{{ path('category.index') }}">Retour à la liste des catégories</a> #}

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
