{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Gestion des catégories</h1>

    <div class="text-right">
        <a href="{{ path('category.new') }}" class="btn btn-primary mb-2">Créer une nouvelle catégorie</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('category.edit', {'id': category.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
