{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    {# <a href="{{ path('category.index') }}" class="btn btn-primary">Retour à la liste des catégories</a> #}
</div>
{% endblock %}
