{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Détail de la catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la catégorie</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('category.index') }}">Retour à la liste des catégories</a> #}

    <a href="{{ path('category.edit', {'id': category.id}) }}">Editer</a>

    {{ include('category/_delete_form.html.twig') }}
<div>
{% endblock %}
