{% extends "base.html.twig" %}

{% block title 'Editer un produit' %}

{% block body %}
<div class="container mt-4">
    <h1>Editer un produit</h1>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-3">
                {{ form_row(form.name) }}
            </div>
            <div class="col-3">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-3">
                {{ form_row(form.price) }}
            </div>
            <div class="col-3">
                {{ form_row(form.category) }}
            </div>
        </div>
        <button class="btn btn-secondary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}