{% extends "base.html.twig" %}

{% block title 'Tous les produits' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
                {{ form_row(form.query) }}
            <button class="btn btn-secondary">Filtrer</button>
            {{ form_end(form) }}
        </div>
    </div>

<div class="container mt-4">
    <h1>Liste des produits</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="text-right">
        <a href="{{ path('product.create') }}" class="btn btn-primary mb-2">Créer un nouveau produit</a>
    </div>

	<table class="table table-striped">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}

                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('product.edit', {id: product.id}) }}">Editer</a>
                        <form action="{{ path('product.destroy', {id: product.id}) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button class="btn btn-danger" href="#">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}